.about__button {
  width: 100%;
}

.about__button:not(:last-child) {
  margin-bottom: 16px;
}

.about__text:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .about__actions {
    display: flex;
  }

  .about__button {
    width: 24%;
  }

  .about__button:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
