.header {
    border-bottom: 0.4px solid black;
}

.header-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.header-topbar__name {
    font-size: 32px;
    font-weight: 700;
}
