.header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 16px;
  height: 48px;
  background-color: var(--color-primary-500);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.header__name {
  color: var(--color-primary-100);
  font-size: 30px;
  font-weight: 700;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
