.header {
  position: sticky;
  top: 0;
  display: flex;
  padding: var(--space-container-xs);
  height: var(--header-height);
  background-color: var(--color-primary-500);
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.header__name {
  color: var(--color-primary-100);
  font-size: 30px;
  font-weight: 700;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .header {
    padding: var(--space-container-xs) var(--space-container-md);
  }
}
