.position__company-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.position__company-description {
  font-style: italic;
  color: var(--color-gray-500);
  margin-bottom: 16px;
}

.position__role {
  font-weight: 700;
  margin-bottom: 4px;
}

.position__period {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-gray-500);
  margin-bottom: 16px;
}
