.project {
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.12);
  padding: 24px;
  border-radius: var(--border-radius);
}

.project__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 12px;
}

.project__name {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  word-break: break-word;
}

.project__period {
  line-height: 32px;
  color: var(--color-gray-500);
}

.project__description {
  margin-bottom: 24px;
}

.project__image {
  /* TODO: move to variables */
  height: calc((100vw - 32px - 48px) * 1.425);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: var(--border-radius);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.project__image_type_food-diary {
  background-color: var(--color-gray-100);
  background-image: url('/images/food-diary-mobile.jpg');
}

@media (min-width: 480px) {
  .project__image {
    /* TODO: move to variables */
    height: calc((100vw - 32px - 48px) * 0.78);
  }

  .project__image_type_food-diary {
    background-image: url('/images/food-diary.jpg');
  }
}

@media (min-width: 768px) {
  .project {
    display: flex;
  }

  .project__content {
    flex: 1;
  }

  .project__image {
    width: 380px;
    height: 300px;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .project__image_type_food-diary {
    background-image: url('/images/food-diary.jpg');
  }
}
