.project-card {
  --space-project-card: 16px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.project-card__image {
  width: 100%;
  border-radius: var(--border-radius);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-card__header {
  font-size: 20px;
  line-height: 32px;
  word-break: break-word;
}

.project-card__content {
  padding: var(--space-project-card);
}

.project-card__description {
  margin-bottom: 24px;
}

.project-card__keywords {
  margin-bottom: var(--space-project-card);
}

.project-card__actions {
  display: flex;
  gap: 16px;
}

.project-card__action-button {
  flex: 1;
}

@media (min-width: 768px) {
  .project-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-card__image {
    max-width: 50%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}
