.project {
  --space-project-card: 24px;
  --image-size-ratio-mobile: 1.425;
  --image-size-ratio-tablet: 0.78;

  background-color: var(--color-white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.12);
  padding: var(--space-project-card);
  border-radius: var(--border-radius);
}

.project__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-project-card);
  margin-bottom: calc(var(--space-project-card) / 2);
}

.project__name {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  word-break: break-word;
}

.project__period {
  line-height: 32px;
  color: var(--color-gray-500);
}

.project__description {
  margin-bottom: var(--space-project-card);
}

.project__image {
  height: calc(
    (100vw - 2 * var(--space-container-xs) - 2 * var(--space-project-card)) *
      var(--image-size-ratio-mobile)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: var(--border-radius);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--space-project-card);
}

.project__image_type_food-diary {
  background-color: var(--color-gray-100);
  background-image: url('/images/food-diary-mobile.jpg');
}

@media (min-width: 480px) {
  .project__image {
    height: calc(
      (100vw - 2 * var(--space-container-xs) - 2 * var(--space-project-card)) *
        var(--image-size-ratio-tablet)
    );
  }

  .project__image_type_food-diary {
    background-image: url('/images/food-diary.jpg');
  }
}

@media (min-width: 768px) {
  .project {
    display: flex;
  }

  .project__content {
    flex: 1;
  }

  .project__image {
    width: 380px;
    height: 300px;
    margin-bottom: 0;
    margin-right: var(--space-project-card);
  }

  .project__image_type_food-diary {
    background-image: url('/images/food-diary.jpg');
  }
}
