.project-card {
  --space-project-card: 16px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.project-card__image-container {
  display: flex;
}

.project-card__image {
  width: 50%;
  padding: 8px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.project-card__header {
  font-size: 20px;
  line-height: 32px;
  word-break: break-word;
}

.project-card__content {
  padding: 16px;
}

.project-card__description {
  margin-bottom: 24px;
}

.project-card__keywords {
  margin-bottom: 16px;
}

.project-card__actions {
  display: flex;
  gap: 16px;
}

.project-card__action-button {
  flex: 1;
}

@media (min-width: 768px) {
  .project-card {
    flex-direction: row-reverse;
  }

  .project-card__image-container {
    flex: 1;
  }

  .project-card__content {
    flex: 1;
  }
}
