.socials-list {
  display: flex;
}

.socials-list__item:not(:last-child) {
  margin-right: 16px;
}

.socials-list__link {
  display: flex;
  transition: var(--transition);
}

.socials-list__link:active {
  opacity: 0.3;
}

.socials-list__svg {
  fill: var(--color-primary-100);
  transition: var(--transition);
}

@media (min-width: 1200px) {
  .socials-list__link:hover:not(:active) > .socials-list__svg {
    fill: var(--color-primary-300);
  }
}
