.socials-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.socials-list__item {
  flex-grow: 1;
}

.socials-list__link {
  width: 100%;
}

@media (min-width: 768px) {
  .socials-list__item {
    flex-grow: inherit;
  }

  .socials-list__link {
    width: auto;
  }
}
