.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: var(--transition);
  font-weight: 700;
  box-sizing: border-box;
}

.button:focus:not(:active) {
  box-shadow: 0px 5px 10px 2px var(--color-gray-300);
}

.button__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.button_variant_primary {
  color: var(--color-primary-100);
  background-color: var(--color-primary-500);
}

.button_variant_outline {
  color: var(--color-primary-500);
  background-color: var(--color-gray-50);
  border: 1px solid var(--color-primary-500);
}

.button_variant_primary:active {
  color: var(--color-primary-400);
  background-color: var(--color-primary-700);
}

.button_variant_outline:active {
  color: var(--color-primary-300);
  background-color: var(--color-primary-100);
}

@media (min-width: 1200px) {
  .button_variant_primary:hover:not(:active) {
    background-color: var(--color-primary-900);
  }

  .button_variant_outline:hover:not(:active) {
    background-color: var(--color-primary-100);
  }
}
