.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  transition: var(--transition);
}

.icon-button:active {
  opacity: 0.7;
}

.icon-button__icon {
  width: 16px;
  height: 16px;
  background-size: contain;
}

.icon-button_type_dodo {
  background-color: #ffe0d6;
}

.icon-button__icon_type_dodo {
  background-image: url('/images/dodo-brands-logo.svg');
}

.icon-button_type_github {
  background-color: var(--color-primary-100);
}

.icon-button__icon_type_github {
  background-image: url('/images/github-logo.svg');
}

@media (min-width: 1200px) {
  .icon-button_type_dodo:hover:not(:active) {
    background-color: #ffc0ad;
  }

  .icon-button_type_github:hover:not(:active) {
    background-color: var(--color-primary-200);
  }
}
